/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set background image */
  body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*color: #fff;*/
    font-family: Arial, sans-serif;
  }
  
  /* Global styles */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  div {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  /* Home page specific styles */
  #home h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  #home p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #333;
  }
  
  /* Portfolio page specific styles */
  #portfolio h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .portfolio-card {
    background-color: rgba(221, 219, 230, 0.8);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  
  .project-link {
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .project-link:hover {
    background-color: #f1f1f1;
  }
  
  /* Contact page specific styles */
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #333;
  }
  